<p>Data source:
<a href="?json">json</a>,
<a href="?html">html</a>,
<a href="?json-checked">json (~25k nodes all checked)</a>,
<a href="?json-unchecked">json (~25k nodes all unchecked)</a>,
<a href="?html-checked">html (~25k nodes all checked)</a>,
<a href="?html-unchecked">html (~25k nodes all unchecked)</a></p>

<div id="container" class="demo-container"><em>loading...</em></div>

<script src="assets/demo/ui-tree.min.js"></script>
<link rel="stylesheet" property="stylesheet" href="assets/demo/ui-tree.min.css">
<script src="assets/demo/helper.js"></script>