<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.name }} — {{ site.tagline }}</title>
    <link rel="stylesheet" href="assets/css.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <header>
        <h1 class="prj-title"><a href="https://{{ site.github }}.github.io/{{ site.name }}" title="{{ site.tagline }}">{{ site.name }}</a></h1>
        {% if page.title %} {% else %}
        <h2 class="prj-mission">{{ site.tagline }}<br>{{ site.tagline2 }}</h2>
        <ul class="prj-buttons">
            <li><a href="demo" title="{{ site.tagline }} Live demo.">Live demo</a></li>
            <li><a href="https://github.com/{{ site.github }}/{{ site.name }}/blob/master/README.md" class="prj-buttons-docs" title="Documentation of {{ site.name }}">Documentation</a></li>
            <li><a href="https://github.com/{{ site.github }}/{{ site.name }}/archive/v{{ site.version }}.zip" class="prj-buttons-download" title="Download {{ site.name }}. {{ site.tagline }}">Download <strong>v{{ site.version }}</strong></a></li>
        </ul>
        <p class="prj-view"><a href="https://github.com/{{ site.github }}/{{ site.name }}" title="{{ site.tagline }}">View the Project on GitHub <small>{{ site.github }}/{{ site.name }}</small></a></p>
        {% endif %}
    </header>

    <section>{% if page.title %}<h1>{{ page.title }}</h1>{% endif %}{{ content }}</section>
</div>
</body>
</html>